node_modules
dist/.DS_Store
dist/.DS_Store
.DS_Store
src/components/ReviewComponent.svelte
chatgpt-api-server
chatgpt-api-server/.env
chatgpt-api-server/node_modules
chatgpt-api-server/index.js
.vscode
.env
