@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.filter-blue {
  filter: invert(21%) sepia(40%) saturate(4113%) hue-rotate(217deg)
    brightness(86%) contrast(94%);
}
.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(297deg)
    brightness(103%) contrast(105%);
}
.filter-yellow {
  filter: brightness(0) saturate(100%) invert(84%) sepia(91%) saturate(1746%)
    hue-rotate(318deg) brightness(100%) contrast(88%);
}

.selected {
  background-color: green;
  color: white;
}
@media print {
  #Review,
  #Review * {
    color: black !important;
  }
}
ul {
  padding-inline-start: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #2146a6;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#main-container {
  overflow-y: auto;
  margin: 0 auto;
}

.textarea-padding {
  height: 15em;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 15px;
  z-index: 10;
}

.logo {
  position: absolute;
  left: 20px;
  padding-top: 7px;
}

.section-link {
  margin: 0 20px;
  color: black;
}

.section-link.visible {
  opacity: 1;
}

.card {
  background-color: #e5f1f5;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#app {
  margin: 0 auto;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #2146a6;
  }

  /* button {
    background-color: #f9f9f9;
  } */
}

/* .questions-section,
.consequences-section {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
} */

.question {
  text-align: center;
}

.consequences-section {
  display: flex;
  justify-content: space-between;
}

.pane {
  flex: 1;
  margin: 0 10px;
}

.pane h3 {
  margin-top: 0;
}

h2,
h3 {
  text-align: center;
}

p {
  font-size: 15px;
}

/* input[type="text"] {
  display: block;
} */

.categorization-section {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

/* .intended {
    background-color: lightgreen;
  }

  . {
    background-color: lightcoral;
  } */

/* remove inbuild button styling */
/* button {
    background: none;
    border: none;
    cursor: pointer;
  } */
table {
  width: 100%;
  /* Ensure table tries to fit its container */
  max-width: 100%;
  /* Make sure table doesn't expand beyond its container */
  border-collapse: collapse;
  background-color: white;
  overflow: hidden;
  /* This will ensure the border-radius is applied properly */
}

th,
td {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
}

textarea,
input {
  outline: none;
  -webkit-appearance: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input {
  width: 80%;
  height: 43px;
  padding-inline: 10px;
  font-size: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.category-save-proceed {
  display: flex;
  flex-direction: row;
}

select {
  display: block;
  border: 2px solid #2a45a0;
  outline: none;
  padding-inline: 15px;
  padding-block: 12px;
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 10px;
  color: #2a45a0;
  font-weight: bold;
}

.consequence-options {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.consequence-options .consequence-input {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 3px;
}

.input-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.consequence-input {
  font-size: 15px;
  margin-top: 10px;
  padding: 3px;
}

.long-text-review {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.693);
  padding: 15px;
  margin-top: 10px;
}

/* .selected {
        background-color: green;
        color: white;
    } */

.consequences-checkbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* This creates two columns */
  gap: 10px;
  /* This sets the space between rows and columns */
  align-items: start;
  /* Aligns items to the top */
  cursor: pointer;
  margin: 10px;
}

.consequences-checkbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* This creates two columns */
  gap: 10px;
  /* This sets the space between rows and columns */
  align-items: start;
  /* Aligns items to the top */
  cursor: pointer;
  margin: 10px;
}

.checkbox-item {
  background-color: white;
  padding: 10px;
  margin: 0;
  /* Reset default margin */
  display: flex;
  /* Use flex for aligning checkbox and its text */
  align-items: center;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0 10px 0 0;
  /* No left margin and 10px right margin */
  padding: 0;
  /* Ensure no padding */
  color: black;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  position: relative;
}

input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  top: 2px;
  left: 6px;
  transform: rotate(45deg);
}

/* get timescale label and set to display: block */
.timescale-label {
  display: block;
}

.hypothesis-actions-container {
  background-color: white;
}

.filter-buttons {
  margin-top: 20px;
  margin-bottom: 10px;
}

.filter-buttons button {
  background-color: white;
  border-radius: none;
  padding-block: 5px;
  align-items: baseline;
}

.info-button {
  display: none;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  border-radius: 50%;
  padding-inline: 5px;
  padding-bottom: 1px;
  border: 1px solid black;
  /* remove webkit blue higlhihgt */
  outline: none;
  margin-left: 10px;
  margin-top: 1px;
}

/* make header and button inline */
.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-button:hover {
  background-color: #2146a6;
  color: white;
  border: 1px solid white;
  /* transiation */
  transition: 0.3s;
}

.modal {
  display: block;
  margin-left: 50px;
  padding: 100px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  text-align: center;
  background-color: #fefefe;
  max-height: 70vh;
  overflow-y: auto;
  margin: 15% auto;
  padding: 60px;
  border: 1px solid #888;
  width: 70%;
}

.close {
  color: #aaa;
  padding-top: 1px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  float: right;
  top: -50px;
  border: 2px solid gray;
  min-height: 50px;
  min-width: 50px;
  float: right;
  border-radius: 25px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
  }

  select {
    width: 100%;
  }

  h1 {
    font-size: 1.8em;
  }

  /* responsive nav */
  .logo {
    display: none;
  }

  .section-link {
    margin: 0 10px;
  }

  .navbar {
    flex-direction: column;
  }

  #main-container {
    padding-inline: 0;
  }

  #chat-window {
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 100;
  }

  .input-row {
    flex-direction: column;
    width: 100%;
  }

  /* fix modal on mobile being at top of page */

  .modal-content {
    margin-top: 300px;
  }
}

input[type="date"] {
  width: 100%;
  padding-block: 21.8px;
}
/* responsive table */
@media screen and (max-width: 600px) {
  table {
    border: 0;
    border-radius: 0;
    background-color: transparent;
  }

  th,
  td {
    border: none;
    /* removing the borders for smaller screens for cleaner look */
    text-align: right;
    /* aligning content to right, will make sense when label is on the left */
    display: block;
    /* each cell will occupy full width */
    padding: 4px;
    /* reduce padding for small screens */
    font-size: 0.9em;
    /* reduce font-size slightly for mobile */
  }

  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    /* you can adjust this color as per your design */
  }

  td:last-child {
    border-bottom: 0;
  }

  th {
    display: none;
    /* hide table headers */
  }

  #main-container {
    padding-inline: 0;
  }
}
